<%- include("particules/header.ejs") -%>
   
<main class="row g-0">
    <div class="col-12 col-lg-6 text-center p-5 anonymous">
        <div>
            <h1>Anonymous Poster</h1>
            <p>Share your secret stories Anonymously</p>
        </div>
    </div>
    <div class="col-12 col-lg-6 align-self-center my-4">
        <form action="/" method="post" class="d-grid gap-2 justify-content-center" autocomplete="off">
            <input type="email" class="form-control" name="email" placeholder="Email address" required>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            <button type="submit" class="btn btn-dark">Log In</button>
            <a href="/signup" class="btn btn-success">Create New Account</a>
        </form>
        <hr>
        <div class="text-center">
            <h5 class="mb-3">Sing in with:</h5>
            <a class="google d-block d-sm-inline mx-auto mb-2" href="/auth/google"><i class="fab fa-google"></i>
                Google</a>
            <a class="facebook d-block d-sm-inline mx-auto mb-2" href="/auth/facebook"><i
                    class="fab fa-facebook-square"></i> Facebook</a>
        </div>
    </div>
</main>
<%- include("particules/footer.ejs") -%>
