<%- include("particules/header.ejs") -%>
    <header>
        <h1>Anonymous Poster</h1>
    </header>
    <div class="account">
        <form action="/signup" method="post" id="account" autocomplete="off">
                <label for="Email" class="form-label">Email</label>
                <input type="email" name="account" class="form-control" id="Email" required>

                <label for="Password" class="form-label mt-4">Password</label>
                <input type="password" name="key" class="form-control" id="Password" required>
            <button type="submit" class="btn btn-primary mt-4">Create</button>
        </form>

    </div>
    <%- include("particules/footer.ejs") -%>